<a href="https://colab.research.google.com/github/brunopdoliveira/Artificial_Intelligence-IMT/blob/main/Temporais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%capture
import pandas as pd

!gdown --id 1eAozcrUavrJhJaYorEfgM4kOUuupaigg
!gdown --id 1erAYxYR9zgP7uxRXqiDNkI6toxI5csz3
!gdown --id 1eFtpCkvynYxrJQCiv4GRyafVKW5jjgl2
!gdown --id 1eY0xfNWCmXa02AhbO54-H8KiaaqdpRXv
!gdown --id 1dwbKbwuCUP2NscgyGjXgm8NwLAKMY0R4
!gdown --id 1eWoCxEeRfZVZy0xkN4B17T5TmAuUjd9E
!gdown --id 1eZfGrV_HoRiVC5ZjsXBGhpbOs1Gc6iRR
!gdown --id 1f2Feut0NO0DeeVUNwF6JRDc9_Qy5dxxA
!gdown --id 1e9Ke0kzz-WYJuyiMVE5yBUyLLUd5hsuv
!gdown --id 1f37l9ZZt1SRNxQ7tfWtwY1hbrFKv81A8

In [ ]:
df1 = pd.read_csv('/content/d1.csv', sep=';')
df1.head()

             CITY STATE  CAPITAL  ...    MAC  WAL-MART  POST_OFFICES
0       São Paulo    SP        1  ...  130.0       7.0         225.0
1          Osasco    SP        0  ...    7.0       1.0          10.0
2  Rio De Janeiro    RJ        1  ...   68.0       1.0         120.0
3        Brasília    DF        1  ...   28.0       1.0          60.0
4    Porto Alegre    RS        1  ...   19.0      12.0          53.0

[5 rows x 81 columns]

In [ ]:
for col in df1.columns:
  print(col)

CITY
STATE
CAPITAL
IBGE_RES_POP
IBGE_RES_POP_BRAS
IBGE_RES_POP_ESTR
IBGE_DU
IBGE_DU_URBAN
IBGE_DU_RURAL
IBGE_POP
IBGE_1
IBGE_1-4
IBGE_5-9
IBGE_10-14
IBGE_15-59
IBGE_60+
IBGE_PLANTED_AREA
IBGE_CROP_PRODUCTION_$
IDHM Ranking 2010
IDHM
IDHM_Renda
IDHM_Longevidade
IDHM_Educacao
LONG
LAT
ALT
PAY_TV
FIXED_PHONES
AREA
REGIAO_TUR
CATEGORIA_TUR
ESTIMATED_POP
RURAL_URBAN
GVA_AGROPEC
GVA_INDUSTRY
GVA_SERVICES
GVA_PUBLIC
 GVA_TOTAL
TAXES
GDP
POP_GDP
GDP_CAPITA
GVA_MAIN
MUN_EXPENDIT
COMP_TOT
COMP_A
COMP_B
COMP_C
COMP_D
COMP_E
COMP_F
COMP_G
COMP_H
COMP_I
COMP_J
COMP_K
COMP_L
COMP_M
COMP_N
COMP_O
COMP_P
COMP_Q
COMP_R
COMP_S
COMP_T
COMP_U
HOTELS
BEDS
Pr_Agencies
Pu_Agencies
Pr_Bank
Pu_Bank
Pr_Assets
Pu_Assets
Cars
Motorcycles
Wheeled_tractor
UBER
MAC
WAL-MART
POST_OFFICES

In [ ]:
df2 = pd.read_csv('/content/d2.csv', sep=',')
df2.head(100)

       Date  StockPrice
0    1/1/70   83.368095
1    2/1/70   81.591053
2    3/1/70   81.338095
3    4/1/70   76.805909
4    5/1/70   69.278571
..      ...         ...
95  12/1/77   36.996667
96   1/1/78   36.014286
97   2/1/78   36.311579
98   3/1/78   37.530000
99   4/1/78   39.984000

[100 rows x 2 columns]

In [ ]:
df3 = pd.read_csv('/content/d3.tsv', sep = '\t')
df3.head(100)

    Unnamed: 0 DATA INICIAL  ... MÊS   ANO
0            0   2004-05-09  ...   5  2004
1            1   2004-05-09  ...   5  2004
2            2   2004-05-09  ...   5  2004
3            3   2004-05-09  ...   5  2004
4            4   2004-05-09  ...   5  2004
..         ...          ...  ...  ..   ...
95          95   2004-05-30  ...   5  2004
96          96   2004-05-30  ...   5  2004
97          97   2004-05-30  ...   5  2004
98          98   2004-05-30  ...   5  2004
99          99   2004-05-30  ...   5  2004

[100 rows x 21 columns]

In [ ]:
df3.loc[df3['ESTADO']=='GOIAS'].head(100)

      Unnamed: 0 DATA INICIAL  ... MÊS   ANO
1              1   2004-05-09  ...   5  2004
28            28   2004-05-16  ...   5  2004
55            55   2004-05-23  ...   5  2004
82            82   2004-05-30  ...   5  2004
109          109   2004-06-06  ...   6  2004
...          ...          ...  ...  ..   ...
2561        2561   2006-03-19  ...   3  2006
2588        2588   2006-03-26  ...   3  2006
2615        2615   2006-04-02  ...   4  2006
2642        2642   2006-04-09  ...   4  2006
2669        2669   2006-04-16  ...   4  2006

[100 rows x 21 columns]

In [ ]:
df3.count()

Unnamed: 0                       106823
DATA INICIAL                     106823
DATA FINAL                       106823
REGIÃO                           106823
ESTADO                           106823
PRODUTO                          106823
NÚMERO DE POSTOS PESQUISADOS     106823
UNIDADE DE MEDIDA                106823
PREÇO MÉDIO REVENDA              106823
DESVIO PADRÃO REVENDA            106823
PREÇO MÍNIMO REVENDA             106823
PREÇO MÁXIMO REVENDA             106823
MARGEM MÉDIA REVENDA             106823
COEF DE VARIAÇÃO REVENDA         106823
PREÇO MÉDIO DISTRIBUIÇÃO         106823
DESVIO PADRÃO DISTRIBUIÇÃO       106823
PREÇO MÍNIMO DISTRIBUIÇÃO        106823
PREÇO MÁXIMO DISTRIBUIÇÃO        106823
COEF DE VARIAÇÃO DISTRIBUIÇÃO    106823
MÊS                              106823
ANO                              106823
dtype: int64

In [ ]:
df3.groupby(['ESTADO']).size()

ESTADO
ACRE                   3480
ALAGOAS                4250
AMAPA                  3403
AMAZONAS               3889
BAHIA                  4263
CEARA                  4263
DISTRITO FEDERAL       3483
ESPIRITO SANTO         4260
GOIAS                  3663
MARANHAO               3499
MATO GROSSO            4037
MATO GROSSO DO SUL     4246
MINAS GERAIS           4261
PARA                   3497
PARAIBA                4263
PARANA                 4251
PERNAMBUCO             4262
PIAUI                  3548
RIO DE JANEIRO         4263
RIO GRANDE DO NORTE    4262
RIO GRANDE DO SUL      4263
RONDONIA               3479
RORAIMA                3471
SANTA CATARINA         4262
SAO PAULO              4263
SERGIPE                4259
TOCANTINS              3483
dtype: int64

In [ ]:
df4 = pd.read_csv('/content/d4.tsv', sep = '\t')
df4.head(100)

   unit,sector,na_item,geo\time       2020   ...      1996        1995
0            MIO_EUR,S1,B1GQ,AT   375562.0   ...  186968.1    184351.3
1            MIO_EUR,S1,B1GQ,BE   451176.9   ...  219965.3    220251.5
2            MIO_EUR,S1,B1GQ,BG    60642.7   ...    9829.9     14512.8
3            MIO_EUR,S1,B1GQ,CY    21000.3   ...    7890.1      7596.0
4            MIO_EUR,S1,B1GQ,CZ   213661.0   ...   53088.1     46008.4
..                          ...         ...  ...        ...         ...
95            MIO_EUR,S13,B9,BG    -2073.6   ...         :           :
96            MIO_EUR,S13,B9,CY    -1193.1   ...    -235.1       -55.1
97            MIO_EUR,S13,B9,CZ   -13152.6   ...   -1595.2     -5691.8
98            MIO_EUR,S13,B9,DE  -139616.0   ...  -70264.0   -186532.2
99            MIO_EUR,S13,B9,DK    -3576.6   ...   -3670.3     -5120.2

[100 rows x 27 columns]

In [ ]:
df5 = pd.read_csv('/content/d5.csv')
df5.head(100)

    longitude  latitude  ...  median_house_value  ocean_proximity
0     -122.23     37.88  ...            452600.0         NEAR BAY
1     -122.22     37.86  ...            358500.0         NEAR BAY
2     -122.24     37.85  ...            352100.0         NEAR BAY
3     -122.25     37.85  ...            341300.0         NEAR BAY
4     -122.25     37.85  ...            342200.0         NEAR BAY
..        ...       ...  ...                 ...              ...
95    -122.26     37.80  ...            130000.0         NEAR BAY
96    -122.26     37.82  ...            183800.0         NEAR BAY
97    -122.26     37.81  ...            125000.0         NEAR BAY
98    -122.26     37.82  ...            170000.0         NEAR BAY
99    -122.26     37.82  ...            193100.0         NEAR BAY

[100 rows x 10 columns]

In [ ]:
df6 = pd.read_csv('/content/d6.csv')
df6.head(100)

    comprimento-sepala  largura-sepala  ...  largura-petala            label
0                  5.1             3.5  ...             0.2      Iris-setosa
1                  4.9             3.0  ...             0.2      Iris-setosa
2                  4.7             3.2  ...             0.2      Iris-setosa
3                  4.6             3.1  ...             0.2      Iris-setosa
4                  5.0             3.6  ...             0.2      Iris-setosa
..                 ...             ...  ...             ...              ...
95                 5.7             3.0  ...             1.2  Iris-versicolor
96                 5.7             2.9  ...             1.3  Iris-versicolor
97                 6.2             2.9  ...             1.3  Iris-versicolor
98                 5.1             2.5  ...             1.1  Iris-versicolor
99                 5.7             2.8  ...             1.3  Iris-versicolor

[100 rows x 5 columns]

In [ ]:
df7 = pd.read_csv('/content/d7.tsv', sep='\t')
df7.head(100)

    unit,indx,coicop,geo\time 2021M07  2021M06   ... 2005M03  2005M02  2005M01
0           I15,ACPI,CP011,AT       :        :   ...   87.2 e   87.4 e   88.4 e
1           I15,ACPI,CP011,BE       :        :   ...   97.2 e   96.5 e   95.0 e
2           I15,ACPI,CP011,BG       :        :   ...   67.5 e   69.6 e   72.1 e
3           I15,ACPI,CP011,CY       :        :   ...  108.5 e  117.7 e  117.8 e
4           I15,ACPI,CP011,CZ       :        :   ...   80.8 e   81.8 e   83.8 e
..                        ...      ...      ...  ...      ...      ...      ...
95         I15,ACPI,CP0112,EE       :        :   ...  103.1 e  104.2 e  103.1 e
96         I15,ACPI,CP0112,EL       :        :   ...   84.9 e   83.7 e   83.5 e
97         I15,ACPI,CP0112,ES       :        :   ...   91.4 e   93.3 e   90.9 e
98  I15,ACPI,CP0112,EU27_2020       :        :   ...       :        :        :
99       I15,ACPI,CP0112,EU28       :        :   ...   81.9 e   82.3 e   83.3 e

[100 rows x 200 columns]

In [ ]:
df8 = pd.read_csv('/content/d8.csv')
df8.head(100)

       Date  StockPrice
0    3/1/09   46.884545
1    3/1/84   47.303636
2    8/1/93   47.713182
3    9/1/93   47.883333
4    4/1/84   47.908000
..      ...         ...
95  10/1/85   58.289565
96   3/1/83   58.322609
97   2/1/71   58.337368
98   1/1/06   58.592000
99   1/1/09   58.871500

[100 rows x 2 columns]

In [ ]:
df9 = pd.read_csv('/content/d9.csv')
df9.head(100)

    Unnamed: 0                      Created At  ... Unnamed: 23  Unnamed: 24
0            0  Sun Jan 08 01:22:05 +0000 2017  ...         NaN          NaN
1            1  Sun Jan 08 01:49:01 +0000 2017  ...         NaN          NaN
2            2  Sun Jan 08 01:01:46 +0000 2017  ...         NaN          NaN
3            3  Wed Jan 04 21:43:51 +0000 2017  ...         NaN          NaN
4            4  Mon Jan 09 15:08:21 +0000 2017  ...         NaN          NaN
..         ...                             ...  ...         ...          ...
95          95  Thu Jan 05 10:16:54 +0000 2017  ...         NaN          NaN
96          96  Tue Jan 10 01:33:13 +0000 2017  ...         NaN          NaN
97          97  Wed Jan 04 19:24:29 +0000 2017  ...         NaN          NaN
98          98  Thu Jan 05 12:49:15 +0000 2017  ...         NaN          NaN
99          99  Wed Jan 04 19:06:55 +0000 2017  ...         NaN          NaN

[100 rows x 26 columns]

In [ ]:
df9.groupby(['Geo Coordinates.latitude']).size()

In [ ]:
df9.count()

Unnamed: 0                   8199
Created At                   8199
Text                         8199
Geo Coordinates.latitude      104
Geo Coordinates.longitude     104
User Location                5489
Username                     8199
User Screen Name             8199
Retweet Count                8199
Classificacao                8199
Observação                      1
Unnamed: 10                     0
Unnamed: 11                     0
Unnamed: 12                     0
Unnamed: 13                     0
Unnamed: 14                     0
Unnamed: 15                     0
Unnamed: 16                     0
Unnamed: 17                     0
Unnamed: 18                     0
Unnamed: 19                     0
Unnamed: 20                     0
Unnamed: 21                     0
Unnamed: 22                     0
Unnamed: 23                     0
Unnamed: 24                     0
dtype: int64

In [ ]:
df10 = pd.read_csv('/content/d10.csv')
df10.head(100)

          Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0   2013-03-01    Uluru     19.7  ...     28.4         No            No
1   2013-03-02    Uluru     21.6  ...     31.3         No            No
2   2013-03-03    Uluru     21.3  ...     34.5         No            No
3   2013-03-04    Uluru     22.9  ...     35.4         No            No
4   2013-03-05    Uluru     24.0  ...     37.3         No            No
..         ...      ...      ...  ...      ...        ...           ...
95  2013-06-05    Uluru     10.8  ...     16.2        Yes           Yes
96  2013-06-06    Uluru     11.7  ...     14.7        Yes            No
97  2013-06-07    Uluru     12.2  ...     18.2         No            No
98  2013-06-08    Uluru     13.6  ...     19.0         No            No
99  2013-06-09    Uluru     10.9  ...     23.3         No            No

[100 rows x 23 columns]

In [ ]:
df10.count()

Date             1521
Location         1521
MinTemp          1518
MaxTemp          1521
Rainfall         1502
Evaporation         0
Sunshine            0
WindGustDir      1495
WindGustSpeed    1495
WindDir9am       1466
WindDir3pm       1494
WindSpeed9am     1495
WindSpeed3pm     1497
Humidity9am      1518
Humidity3pm      1520
Pressure9am      1518
Pressure3pm      1520
Cloud9am          338
Cloud3pm          408
Temp9am          1518
Temp3pm          1520
RainToday        1502
RainTomorrow     1521
dtype: int64